In [ ]:
Questions:
1.Load the file “zoo.data” and look at the info and first five rows. 
The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.
2. Find out the unique number of high level class.
3. Use the 16-intermediate feature and perform an agglomerative clustering.
[ Hint: Refer to the agglomerative clustering module in scikit learn and set the number of clusters appropriately]
4. Compute the mean squared error by comparing the actual class and predicted high level class.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data='/Users/atul595525/Desktop/learning/Edureka_courses/Python_For_Data_Science/Module_10_Unsupervised_Learning/zoo.csv'

df=pd.read_csv(data)

df.head(6)

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [13]:
s = pd.value_counts(df.hair)
s1 = pd.Series({'nunique': len(s), 'unique values': s.index.tolist()})
s.append(s1)

0                    58
1                    43
nunique               2
unique values    [0, 1]
dtype: object

In [14]:
s = pd.value_counts(df.feathers)
s1 = pd.Series({'nunique': len(s), 'unique values': s.index.tolist()})
s.append(s1)

0                    81
1                    20
nunique               2
unique values    [0, 1]
dtype: object

In [17]:
# Find Unique class types
import numpy as np
unique_classtypes = np.unique(df["class_type"].values)

print(unique_classtypes)

[1 2 3 4 5 6 7]

In [20]:
# Initialize Agglomerative Clustering
from sklearn.cluster import AgglomerativeClustering
agglo = AgglomerativeClustering(n_clusters=4)
predicted_values = agglo.fit_predict(df.iloc[:, 1:16])

In [23]:
# Accuracy Score
from sklearn import metrics
print("Accuracy Score")
print(metrics.accuracy_score(predicted_values, df["class_type"].values))

Accuracy Score
0.0297029702970297

In [25]:
# Mean Square Error value

print("Mean Squared Error value")
print(metrics.mean_squared_error(predicted_values, df["class_type"].values))

Mean Squared Error value
7.198019801980198