In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings("ignore")

In [4]:
data='/Users/atul595525/Desktop/learning/Edureka_courses/Python_For_Data_Science/Module_14_Model_Selection_and_Boosting/mtcars_for_manymerge.csv'

df=pd.read_csv(data)

df.head(5)

                Cars   mpg  cyl   disp   hp  drat  Feedback
0           MazdaRX4  21.0    6  160.0  110  3.90         1
1       MazdaRX4_WAG  21.0    6  160.0  110  3.90         0
2         Datsun_710  22.8    4  108.0   93  3.85         1
3     Hornet_4_Drive  21.4    6  258.0  110  3.08         1
4  Hornet_Sportabout  18.7    8  360.0  175  3.15         1

In [6]:
X=df[['cyl','hp']]

X.head(6)

   cyl   hp
0    6  110
1    6  110
2    4   93
3    6  110
4    8  175
5    6  105

In [7]:
Y=df[['Feedback']]

In [8]:
Y.head(5)

   Feedback
0         1
1         0
2         1
3         1
4         1

In [15]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=5)

In [16]:

knn=KNeighborsClassifier(n_neighbors=4)

knn.fit(x_train,y_train)

/Users/atul595525/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=4, p=2,
           weights='uniform')

In [17]:
y_pred=knn.predict(x_test)

accuracy=metrics.accuracy_score(y_test,y_pred)

accuracy

0.6666666666666666

In [18]:
#CHANGING RANDAOM STATE TO 10 AND SEEING ACCURACY

x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=10)

In [19]:

knn=KNeighborsClassifier(n_neighbors=4)

knn.fit(x_train,y_train)

/Users/atul595525/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=4, p=2,
           weights='uniform')

In [20]:
y_pred=knn.predict(x_test)

accuracy=metrics.accuracy_score(y_test,y_pred)

accuracy

0.5

In [23]:
#DEFINING 10 FOLD KNN MODEL
#RUNNING CROSS_VALIDATION

from sklearn.model_selection import cross_val_score

knn=KNeighborsClassifier(n_neighbors=4)

print(cross_val_score(knn,X,Y,cv=10,scoring='accuracy').mean())

0.5666666666666667

In [24]:
#defining 10 fold on Logistic regression

from sklearn.linear_model import LogisticRegression

logreg=LogisticRegression()

print(cross_val_score(logreg,X,Y,cv=10,scoring='accuracy').mean())

0.2833333333333333

In [ ]:
#Boosting algorithms
#Adaptive boosting(AdaBoost)
#Gradient tree boosting
#XGBoost