In [1]:
print("Welcome in the Data Science Course")

Welcome in the Data Science Course

In [2]:
print("Edureka Rocks")

Edureka Rocks

### comments

In [6]:
def func():
    '''
    this is a 
    multi line comment
    '''

In [7]:
## this is a single line comment

## Indentation
- spaces given before the code

In [8]:
age = 12
if age >= 12:
    print("hello")
    print("I am still inside If block")
print("if block has ended and I am outside if block")

hello
I am still inside If block
if block has ended and I am outside if block

In [9]:
print("Hello World")

Hello World

## Variable
- python is dynamically typed hence a variable can contain any type of value.

In [10]:
a = 100
print(a)

100

In [11]:
a = "edureka"
print(a)

edureka

In [12]:
# Q:does double quotes & single quote matter for printing a statement
print("hello")
print('hello')

hello
hello

In [14]:
print("companies's name")

companies's name

In [15]:
# Q:Does that mean we don't declare variables in code?
# yes: In python variable declaration is not there.
# ex: int a; ## Not needed(allowed)

In [16]:
#Q: sometime we use triple quote as well right?
# ANs: yes in multi-line comments

# Numeric

In [2]:
a = 10
type(a)

int

In [3]:
b = 1+2j
type(b)

complex

In [4]:
c = 12.34
type(c)

float

## Strings
- sequence of characters within quotes

In [5]:
a = "hello"
type(a)

str

In [6]:
b = "123"
type(b)

str

### Tuples

In [7]:
a = (1, 2, 23.34, "hello", 2+3j)
a

(1, 2, 23.34, 'hello', (2+3j))

In [8]:
type(a)

tuple

In [9]:
b = (1,23, (1,2))
type(b)

tuple

In [11]:
# Q: numbers and Strings are classified as Immutable..
#...can we take some example to check their immutability property
a = 10
print(id(a))
b = 20
a = a + b
print(a)
print(id(a))

4331247024
30
4331247664

In [12]:
#Q: if a number is imutable then we should not be able to update it. 
#...so a=1 is imutable. but still we are updating a with a+=1
#Ans: after every addition a new memory block is created.

### Lists

In [13]:
a = [1, 2.23, "hello", (1,2), [1,2]]
a

[1, 2.23, 'hello', (1, 2), [1, 2]]

In [14]:
type(a)

list

### dictionary
- unordered
- key-value pairs
- mutable

In [16]:
d = {'a':100, 1:200, 'bb':300}
d

{'a': 100, 1: 200, 'bb': 300}

In [17]:
type(d)

dict

### Sets
- unique unordered elements

In [18]:
s = {1, 1, 2, 2, 3}
s

{1, 2, 3}

In [19]:
# Why lists are called ordered ?
# Ans: Because we can access values via Indexes

In [21]:
#list
l = [11, 22, 33, 44, 55]
l[1]

22

### Arithematic Operator
- +, -, *, /, %, //.....

In [22]:
20/3

6.666666666666667

In [24]:
20%3  # modulo % operator returns remainder of the division

2

In [25]:
# exponent
2**3  # means raising the power of 2 with 3

8

In [26]:
2*3

6

In [27]:
# floor division(//)
20//3

6

In [28]:
20/3

6.666666666666667

### comparison operators
- boolean output

In [29]:
2>3

False

In [30]:
2<3

True

In [31]:
1 == 2

False

In [32]:
1 != 2

True

In [33]:
if 2>1:
    print("hello")
else:
    print("bye")

hello

### Logical Operator
- and
- or
- not

In [35]:
# and
age = 22
if age >= 13 and age <= 19:
    print("Teenager")
else:
    print("Not a teenager")

Not a teenager

In [36]:
True and False

False

In [37]:
True and True

True

In [38]:
False and True

False

In [39]:
False and False

False

In [40]:
# or
age = 22
if age >= 13 or age <= 19:
    print("Teenager")
else:
    print("Not a teenager")

Teenager

### Binary Operators

In [41]:
# Binary AND &
5 & 6

4

In [42]:
bin(5)

'0b101'

In [43]:
bin(6)

'0b110'

In [44]:
bin(4)

'0b100'

In [45]:
a='0b100'
a

'0b100'

In [46]:
eval(a)

4

In [47]:
# how to convert binary to number
a='0b100'
a

'0b100'

In [48]:
eval(a)

4

### Identity Operator
- if both operand point to same memory block: True

In [49]:
a = [1,2,"edureka", -1838939494]
b = [1,2,"edureka", -1838939494]
a is b

False

In [50]:
id(a)

4373101936

In [51]:
id(b)

4373298224

In [52]:
a == b  # == operator compares value only.

True

In [53]:
# so in what case it will be true
a = [1,2,"edureka", -1838939494]
b = a  # assignment creates a new reference
print(id(a))
print(id(b))
print(a is b)

4373257104
4373257104
True

### Membership operator
- in
- not in

In [54]:
a = [1,2,3,22,33]
1 in a

True

In [55]:
100 in a

False

In [56]:
100 not in a

True

In [57]:
# same for strings and tuples

## Conditional Statements
- if 
- elif
- else

In [58]:
age = int(input("enter your age:"))
if age <2:
    print("Infant")
elif age >2 and age <=12:
    print("Kid")
elif age >12 and age <=19:
    print("Teen")
else:
    print("Adult")

enter your age:12
Kid

In [59]:
age = 12
if age <2:
    print("Infant")

In [60]:
age = 12
if age <2:
    print("Infant")
else:
    print("No")

No

## While Loop

In [64]:
count = int(input("How many times should I print ?"))
while count >0:
    print("Edureka Rocks!")
    count = count - 1

How many times should I print ?3
Edureka Rocks!
Edureka Rocks!
Edureka Rocks!

### break statement
- terminates the loop

In [69]:
count = 5
i = 0
while i < count:
    if i == 3:
        break
    print(i)
    i = i + 1

print("I am outside the loop")

0
1
2
I am outside the loop

In [74]:
count = 5
i = 0
while i < count:
    i = i + 1
    if i == 3:
        break
    print(i)
    

print("I am outside the loop")

1
2
I am outside the loop

### continue
- skips the remaning code within the loop and jumps to the next iteration

In [75]:
count = 5
i = 0
while i < count:
    i = i + 1
    if i == 3:
        continue
    print(i)
    

print("I am outside the loop")

1
2
4
5
I am outside the loop

### for-loop
- used to iterate over sequences ex: Lists, tuple, strings etc

In [78]:
a = [11, 22, 33, 44, 55]
for i in a:
    print(i)
    print(i+100)
    print("###")

11
111
###
22
122
###
33
133
###
44
144
###
55
155
###

### break and continue is same in for-loop also

In [79]:
a = [11, 22, 33, 44, 55]
for i in a:
    if i == 33:
        break
    print(i)

11
22

In [80]:
a = [11, 22, 33, 44, 55]
for i in a:
    if i == 33:
        continue
    print(i)

11
22
44
55

In [81]:
### Nested Loop
for i in [11, 22, 33]:
    print(i)
    for j in [1,2,3]:
        print(i,j)
    print("###")

11
11 1
11 2
11 3
###
22
22 1
22 2
22 3
###
33
33 1
33 2
33 3
###

In [82]:
if 2>1:
    pass